.carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

.carousel-container img {
    width: 100%;
    height: 70vh;
}

.slick-prev:before,
.slick-next:before {

    color: black;

}

.slick-dots li button:before {
    color: gray;
}

.slick-dots li.slick-active button:before {
    color: black;
}